banner:
  location: classpath:banner.txt
liquibase:
  enabled:        true
  change-log:     classpath:/db/changelog/db.changelog-master.yaml
spring:
  batch:
    initializer:
      enabled:    true
    job:
      enabled:    false
  datasource:
    driver-class-name: org.postgresql.Driver
    url:               jdbc:postgresql://localhost:5432/sample
    username:          sample
    password:          sample
  jpa:
    show-sql:          true
    generate-ddl:      false
    hibernate:
      use-new-id-generator-mappings: SEQUENCE
      naming:
         implicit-strategy: jpa
    properties:
      hibernate:
        format_sql:    true
        jdbc:
          batch_size:  10
        order_inserts: true
        order_updates: true
batch:
  datasource:
    driver-class-name: org.postgresql.Driver
    url:               jdbc:postgresql://localhost:5432/tech
    username:          sample
    password:          sample
first:
  chunck:
    size: 10
